{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add New Grant</h3>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_grant') }}">
            <div class="card-panel">
                <!-- Grant Title -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-bullhorn prefix navy"></i>
                        <input id="grant_title" name="grant_title" type="email" class="validate" required>
                        <label for="grant_title">Grant Title:</label>
                    </div>
                </div>
                <!-- Issuing Body & Category-->
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="fas fa-landmark prefix navy"></i>
                        <input id="issuing_body" name="issuing_body" type="text" minlength="2"
                            maxlength="15" pattern="^[a-zA-Z0-9]{2,15}$" class="validate" required>
                        <label for="issuing_body">Issuing Body:</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="far fa-folder-open prefix navy"></i>
                        <select id="category_name" name="category_name" required>
                            <option value="" disabled selected>Please select an option</option>
                            <option value="1">Government Body</option>
                            <option value="2">County Council</option>
                            <option value="3">Semi-State Agency</option>
                            <option value="4">National Lottery</option>
                            <option value="5">N.G.O.</option>
                            <option value="6">Corporate / Business entity</option>
                            <option value="7">Community Group</option>
                            <option value="8">Club / Society</option>
                            <option value="9">Event / Festival Organiser</option>
                            <option value="10">Philanthropist</option>
                            <option value="11">Entrepreneur</option>
                            <option value="12">Individual</option>
                        </select>
                        <label for="category_name">Organisation:</label>
                    </div>
                </div>
                <!-- Opening & Closing Dates -->
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="far fa-calendar-check prefix navy"></i>
                        <input id="opening_date" name="opening_date" type="date" class="validate" required>
                        <label for="opening_date">Opening Date:</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fas fa-calendar-times prefix navy"></i>
                        <input id="closing_date" name="closing_date" type="date" class="validate" required>
                        <label for="closing_date">Closing Date:</label>
                    </div>
                </div>
                <!-- Grant Description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-clipboard prefix navy"></i>
                        <textarea id="grant_description" name="grant_description" class="materialize-textarea"></textarea>
                        <label for="grant_description">Grant Description</label>
                    </div>
                </div>
                <!-- Website / LinkedIn Profile -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-globe-americas prefix navy"></i>
                        <input id="website" name="website" type="text" class="validate">
                        <label for="website">Website / LinkedIn Profile:</label>
                    </div>
                </div>
                <!-- Register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}