{% extends "base.html" %}
{% block content %}
{% if session.user|lower == "admin" %}
    <h3 class="center-align">Add New Category</h3>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_category') }}">
            <div class="card-panel">
                <!-- Category Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-folder-open prefix navy"></i>
                        <input id="category_name" name="category_name" type="text" minlength="3"
                            maxlength="30" pattern="^[a-zA-Z0-9,&* /.]{3,30}$" class="validate" required>
                        <label for="category_name">Category Name:</label>
                    </div>
                </div>
                <!-- submit -->
                <div class="row">
                    <button type="submit" class="col s12 m8 btn-large">
                        Add New Category &nbsp;<i class="fas fa-sign-in-alt"></i>
                    </button>
                    <a href="{{ url_for('get_maintenance') }}" class="col s4 waves-effect waves-light btn-large red lighten-1">
                        Cancel Update &nbsp;<i class="fas fa-window-close"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
{% else %}
<div class="row center-align">
    <div class="col s12 m8 offset-m2">
    <h4 class="center-align">Sorry, It appears that you are not signed in as an Admin User</h4>
    <h5 class="center-align">Therefore you are not authorised to view this page!</h5>
    <a href="{{ url_for('get_grants') }}" class="center-align">Please return to the Home Page - Thank you</a>
    </div>
</div>
{% endif %}
{% endblock %}