<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Grant Finder is a FREE site for anyone searching for Grant Opportunities within North Kildare">
    <meta name="keywords" content="Community, Festival, Development, Sports, Educational, Grants, Funding">
    <meta name="author" content="Stephen Johnston">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Grant Finder</title>
</head>
<body>
    <header>
        <div class="wave-container">
            <div class="row">
                <div class="col s12">
                    <!-- materialize main navbar -->
                    <nav class="nav-extended bg-navy">
                        <div class="nav-wrapper">
                            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                                    class="fas fa-bars"></i></a>
                            <ul class="right hide-on-med-and-down">
                                <li><a href="{{ url_for('get_grants') }}">Home</a></li>
                                {% if session.user %}
                                    <li><a href="{{ url_for('my_account', username=session['user']) }}">My Account</a></li>
                                    <li><a href="{{ url_for('add_grant') }}">New Grant</a></li>
                                    {% if session.user|lower == "admin"|lower %}
                                        <li><a href="{{ url_for('get_maintenance') }}">Maintenance</a></li>
                                    {% endif %}
                                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                                {% else %}
                                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                                    <li><a href="{{ url_for('register') }}">Register</a></li>
                                {% endif %}
                                <li><a href="#contact-form">Contact Us</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- materialize mobile side navbar -->
                    <ul class="sidenav" id="mobile-demo">
                        <li><a href="{{ url_for('get_grants') }}">Home</a></li>
                        {% if session.user %}
                            <li><a href="{{ url_for('my_account', username=session['user']) }}">My Account</a></li>
                            <li><a href="{{ url_for('add_grant') }}">New Grant</a></li>
                            {% if session.user|lower == "admin"|lower %}
                                <li><a href="{{ url_for('get_maintenance') }}">Maintenance</a></li>
                            {% endif %}
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                            <li><a href="{{ url_for('login') }}">Log In</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        {% endif %}
                        <li><a href="#contact-form">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- Logo navbar image for link to homepage -->
                <div class="col m6">
                    <a href="{{ url_for('get_grants') }}"><img src="{{ url_for('static', filename='images/logo-searching-clear-background.png') }}" alt="Navigational Logo to home page"></a>
                </div>
                <div class="col m6">
                    <!-- Site Name and main H1 header -->
                    <h1>Grant Finder </h1>
                </div>
            </div>
            <!-- SVG wave image - Code adapted from: https://codepen.io/tayfunerbilen/pen/dyPeKxR -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 30 1440 160"><path fill="#FFD2B0" fill-opacity="1" d="M0,96L60,117.3C120,139,240,181,360,181.3C480,181,
                600,139,720,133.3C840,128,960,160,1080,149.3C1200,139,1320,85,1380,58.7L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,
                320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
            </svg>
        </div>
    </header>
    <section>
        <h2 class="hide">Flash Messages are displayed here</h2>
        <!-- Display Flash Messages Here -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <main class="container">
        {% block content %}
        {% endblock %} 
    </main>    


    <footer class="footer">
        <!-- Code snippet adapted from https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
        <div style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C97.90,156.41 372.17,-80.42 507.05,47.86 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #333333;"></path>
            </svg>
        </div>
        <div class="footer-wave">
            <div class="row footer-wave">
                <div class="col s12 ">
                    <!-- Contact Form-->
                    <div class="col s12 m6 center-align">
                        <h4 class="center-align">Contact Us</h4>
                        <div class="row center-align" id="contact-form">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="contact_name" name="contact_name" type="text" class="validate" required>
                                        <label for="contact_name">First Name: </label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input id="contact_username" name="contact_username" type="text" class="validate">
                                        <label for="contact_username">Already registered with us? What's your Username:
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="contact_email" name="contact_email" type="email" class="validate"
                                            required>
                                        <label for="contact_email">Email: </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="contact_query" name="contact_query" class="materialize-textarea validate"
                                            required></textarea>
                                        <label for="contact_query">What can we do for you? </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn waves-effect waves-light">
                                Send &nbsp;<i class="fas fa-sign-in-alt"></i>
                            </button>
                            </form>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <!-- Social Media & Copyright -->
                        <div class="row">
                            <div class="col s12">
                                <h4 class="text-uppercase">Grant Finder</h4>
                            </div>
                                <div class="row">
                                    <div class="col s12">
                                        <ul>
                                            <li>
                                                <a href="https://github.com/StephenJ2020" target="_blank" title="Github" rel="noreferrer">
                                                    <i class="fab fa-github fa-7x" aria-hidden="true"></i><span class="sr-only">Github</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/johnstonstephen/" target="_blank" title="LinkedIn" rel="noreferrer">
                                                    <i class="fab fa-linkedin fa-7x" aria-hidden="true"><span class="sr-only">LinkedIn</span></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            <div class="col s12">
                                <h6 class="text-uppercase">Designed by: Stephen Johnston</h6>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>    
    {% block scripts %}
    {% endblock %}
</body>
</html>


