<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Grant Finder</title>
</head>
<body>
    <header>
        <div class="wave-container">
            <div class="row">
                <div class="col s12">
                    <!-- materialize main navbar -->
                    <nav class="nav-extended nav-bg">
                        <div class="nav-wrapper">
                            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                                    class="fas fa-bars"></i></a>
                            <ul class="right hide-on-med-and-down">
                                <li><a href="{{ url_for('get_grants') }}">Home</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">New Grant</a></li>
                                <li><a href="#">Maintenance</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Log In</a></li>
                                <li><a href="{{ url_for('register') }}">Register</a></li>
                                <li><a href="#">Log Out</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- materialize mobile side navbar -->
                    <ul class="sidenav" id="mobile-demo">
                        <li><a href="{{ url_for('get_grants') }}">Home</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">New Grant</a></li>
                        <li><a href="#">Maintenance</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <li><a href="#">Log Out</a></li>
                </div>
            </div>
            <div class="row">
                <!-- Logo navbar image for link to homepage -->
                <div class="col m6">
                    <a href="{{ url_for('get_grants') }}"><img src="{{ url_for('static', filename='images/logo-searching-clear-background.png') }}" alt=""></a>
                </div>
                <div class="col m6">
                    <!-- Site Name and main H1 header -->
                    <h1>Grant Finder </h1>
                </div>
            </div>
            <!-- SVG wave image - Code adapted from: https://codepen.io/tayfunerbilen/pen/dyPeKxR -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 30 1440 160"><path fill="#FFD2B0" fill-opacity="1" d="M0,96L60,117.3C120,139,240,181,360,181.3C480,181,
                600,139,720,133.3C840,128,960,160,1080,149.3C1200,139,1320,85,1380,58.7L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,
                320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
            </svg>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %} 
    </main>    


    
            
   

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>    
    {% block scripts %}
    {% endblock %}
</body>
</html>