{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Log In</h3>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix navy"></i>
                    <input id="username" name="username" type="text" minlength="6" maxlength="15"
                        pattern="^[a-zA-Z0-9]{6,15}$" class="validate" required>
                    <label for="username">Username:</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix navy"></i>
                    <input id="password" name="password" type="password" minlength="6" maxlength="15"
                        pattern="^[a-zA-Z0-9]{6,15}$" class="validate" required>
                    <label for="password">Password:</label>
                </div>                
            </div>
            <!-- Log In -->
            <div class="row">
                <button type="submit" class="col s12 btn-large">
                    Log In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<!-- Link to Registration Page -->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Don't have an account? No problem, <a href="{{ url_for('register') }}">Register for Free!</a>
        </p>
    </div>
</div>
{% endblock %}





{% for grant in grants %}
    
{{ grant.grant_title }}<br>
{{ grant.category_name }}<br>
{{ grant.issuing_body }}<br>
{{ grant.grant_description }}<br>
{{ grant.opening_date }}<br>
{{ grant.closing_date }}<br>
{{ grant.application_link }}<br>
{{ grant.support_docs }}<br>
{{ grant.website }}<br>
{{ grant.is_recurring }}<br>
{% endfor %}



    
    {% for grant in grants %}

                    {% if loop.index % 2 != 0 %}

                        
                    {% endif %}
                
    {% endfor %}
