{% extends "base.html" %}
{% block content %}

        <section>
            <div class="row section-container">
                <div class="col s12 m10 offset-m1">
                    <h3 class="center-align">More Details</h3>
                </div>
                <div class="row container">
                    <div class="col s12">
                        {% for grant in grants %}
                        <div class="card-panel teal hoverable">
                            <div class="teal lighten-4 line-height">
                                <div id="tab1{{ grant._id }}">
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s12">
                                                <p><u>Grant Description: </u><br><em> {{ grant.grant_description }}
                                                    </em></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s12 m6">
                                                <p><u>Website: </u><br><em> <a href="{{ grant.website }}"
                                                            target="_blank" rel="noreferrer"
                                                            alt="Link to the website of the Issuing Body">Click Here</a>
                                                    </em>
                                                </p>
                                            </div>
                                            <div class="col s12 m6">
                                                <p><u>Additional Information: </u><br><em><a
                                                            href="{{ grant.support_docs }}" target="_blank"
                                                            rel="noreferrer"
                                                            alt="Link to additional Support Documentation">View the
                                                            Support Documentation</a></em>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s12 center-align">
                                                <p>Application Link: <a href="{{ grant.application_link }}"
                                                        target="_blank" rel="noreferrer"
                                                        alt="Link to Grant Application Form">Open Link</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="col s12">
                                                <a href="{{ url_for('edit_grant', grant_id=grant._id) }}"
                                                    class="waves-effect waves-light btn-small">Edit</a>
                                                <!-- Modal Trigger -->
                                                <a class="waves-effect waves-light btn-small red lighten-1 modal-trigger"
                                                    href="#confirm-delete{{ grant._id }}">Delete</a>

                                                <!-- Modal Structure -->
                                                <div id="confirm-delete{{ grant._id }}" class="modal">
                                                    <div class="modal-content">
                                                        <h4>Are you Sure you want to permanently Delete this
                                                            Grant?</h4>
                                                        <p>
                                                            <a href="{{ url_for('delete_grant', grant_id=grant._id) }}"
                                                                class="col s8 waves-effect waves-light btn-large modal-close">
                                                                Confirm Delete &nbsp;<i class="fas fa-check-circle"></i>
                                                            </a>
                                                            <a href="{{ url_for('get_grants') }}"
                                                                class="col s4 waves-effect waves-light btn-large red lighten-1 modal-close">
                                                                Cancel Delete &nbsp;<i class="fas fa-window-close"></i>
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

{% endblock %}

