{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Register As A New User</h3>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel">
            <!-- Full Name -->
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="fas fa-user prefix navy"></i>
                    <input id="firstName" name="firstName" type="text" class="validate">
                    <label for="firstName">First Name:</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="fas fa-user-alt prefix navy"></i>
                    <input id="lastName" name="lastName" type="text" class="validate">
                    <label for="lastName">Last Name:</label>
                </div>
            </div>
            <!-- Email -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-envelope prefix navy"></i>
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">Email:</label>
                </div>
            </div>
            <!-- Username & Password -->
            <div class="row">
                <div class="input-field col s12 m6">
                    <i class="fas fa-user-plus prefix navy"></i>
                    <input id="username" name="username" type="text" class="validate">
                    <label for="username">Username:</label>
                </div>
                <div class="input-field col s12 m6">
                    <i class="fas fa-user-lock prefix navy"></i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password:</label>
                </div>
            </div>
            <!-- Organisation -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-building prefix navy"></i>
                    <select>
                        <option value="" disabled selected>Please select an option</option>
                        <option value="1">Government Body</option>
                        <option value="2">County Council</option>
                        <option value="3">Semi-State Agency</option>
                        <option value="4">National Lottery</option>
                        <option value="5">N.G.O.</option>
                        <option value="6">Corporate / Business entity</option>
                        <option value="7">Community Group</option>
                        <option value="8">Club / Society</option>
                        <option value="9">Event / Festival Organiser</option>
                        <option value="10">Philanthropist</option>
                        <option value="11">Entrepreneur</option>
                        <option value="12">Individual</option>
                    </select>
                    <label>Organisation:</label>
                </div>
            </div>
            <!-- Website / LinkedIn Profile -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-globe-americas prefix navy"></i>
                    <input id="website" name="website" type="text" class="validate">
                    <label for="website">Website / LinkedIn Profile:</label>
                </div>
            </div>
            <!-- Register -->
            <div class="row">
                <button type="submit" class="col s12 btn-large">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}